$color100:#1F2041;
$color75:#575871;
$color50:#8F90A0;
$color25:#C7C7CF;
$color5:#F3F4F5;
$colorpur:#BC9CFF;
$colorgr:#6FCF97;

.containerforall{
	margin-left:140px;
}
.logo-small {
	width: 48px;
	height:48px;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom:67px;
}
.content{
	max-width: 1132px;
	font-size: 19px;
	color:$color100;
	margin-left:150px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
}

/******* Text Field *********/

.textfield {
	width:320px;
	display: flex;
	flex-direction: column;

	&__label-wrapper {
		font-size: 12px;
		font-weight: 700;
		line-height: 116%;
		color:$color100;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		margin-bottom:5px;
	}

	&__label-state {
		color:$color50;
	}
	&__input{
		width:320px;
		line-height: 171%;
		border-radius: 4px;
		padding-left:15px;
		padding-top:13px;
		padding-bottom: 13px;
		margin-bottom: 20px;

	}
	&__input-default{
		color:$color25;
		border:$color25 1px solid;

	}
	&__input-hover{
		color:$color50;
		border:$color50 1px solid;
	}	
}


/************ dropdown **************/
.dropdown, .dropdowndate {
	width:320px;
	display: flex;
	flex-direction: column;

	&__label {
		font-size: 12px;
		font-weight: 700;
		line-height: 116%;
		color:$color100;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		margin-bottom:5px;
	}

	&__wrapper {
		width:320px;
		color:$color100;
		border:$color25 1px solid;
		border-radius: 4px;
		padding-left:15px;
		padding-top:13px;
		padding-bottom: 13px;
		margin-bottom: 20px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}

	&__placeholder {
		color:$color75;
		line-height: 171%;
	}

	&__item-visually-hidden {
		display:none;
	}
}
.dropdowndate{
	width: 266px;
		&__wrapper{
			width: 266px;
	}
}
.dropdown__arrow{
	font-size: 12px;
	color:$color50;
	padding-right: 16px;
}
/*************** date input**********/
.dropdown__wrap{
	width: 320px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.textfield__date-up{
	text-transform: uppercase;
}

.dropdown {
	&__date-small{
		width:150px;
	}

	&__date-input {
		width:150px;
		color:$color75;
		border-color: $color25;
	}
}
.arrow-forward{
	font-size: 20px;
	position: relative;
	bottom:56px;
	left:280px;

}
._icon-arrow_forward{
	background:linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
	color:#8BA4F9;
}

.dropdown {

	&__label-wrapper {
		font-size: 12px;
		font-weight: 700;
		line-height: 116%;
		color:$color100;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;
		margin-bottom:5px;
	}

	&__label-state {
		color:$color50;
	}
}
/*********** dropdown full form ************/
.dropdown {

	&__wrapper-full {
		min-width: 266px;
		border: 1px solid $color50;
		border-radius: 4px;
		box-shadow: 0px 10px 20px 0px #1F20410D;

	}

	&__placeholder-full {
		min-height: 44px;
		padding-left: 15px;
		padding-right: 15px;
		border-bottom: 1px solid $color50;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	&__arrow-full {
		color: $color75;
		font-size: 12px;
	}

	&__fullform {
		padding: 13px 7px 0 15px;
	}
}

.fullform {

	&__item {
		font-weight: 700;
		font-size: 12px;
		line-height: 122%;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-bottom:7px;
	}
}
.counter {
	width: 92px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	&__circle{
		width:30px;
		height: 30px;
		font-weight: 400;
		font-size: 18px;
		border-radius: 22px;
		border:1px solid $color25;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	&__less-unable {
		border-color:rgba(31, 32, 65, 0.1);
		color:rgba(31, 32, 65, 0.1);
	}
}
.checkboxlist {
	max-width:266px;
	margin-top:40px;
	margin-bottom: 20px;
	&__container {
		display:flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}

	&__label {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		color:$color100;
	}

	&__arrow {
		color:$color50;
		font-size: 12px;
	}
}

.opencheckboxlist {
	max-width:266px;

	&__container {
		display:flex;
		align-items: center;
		justify-content: space-between;
		flex-wrap: wrap;
		padding-top: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}

	&__label {
		font-size: 12px;
		text-transform: uppercase;
		font-weight: 700;
		color:$color100;
	}

	&__arrow-up {
		color:$color50;
		font-size: 12px;
		transform: rotate(180deg);
	}

	&__expanded {
		display: flex;
		color:$color50;
		margin-bottom:10px;
		align-items: center;
	}

	&__value {
		position: absolute;
		z-index: -1;
		opacity: 0;
	}
}
.opencheckboxlist__value+label {
		display: inline-flex;
		align-items: center;
		user-select: none;
		text-align: center;
		margin-bottom:10px;

} 
.opencheckboxlist__value+label::before{
	content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid $color25;
  border-radius: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
	z-index: 222222;
}
/* стили при наведении курсора на checkbox */
.opencheckboxlist__value:not(:disabled):not(:checked)+label:hover::before {
	border-color: $colorpur;
}

/* стили для активного чекбокса (при нажатии на него) */
.opencheckboxlist__value:not(:disabled):active+label::before {
	border-color: $colorpur;
}

/* стили для чекбокса, находящегося в фокусе */
.opencheckboxlist__value:focus+label::before {
	border-color: $colorpur;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.opencheckboxlist__value:focus:not(:checked)+label::before {
	border-color: $colorpur;
}

/* стили для чекбокса, находящегося в состоянии checked */
.opencheckboxlist__value:checked+label::before {
	border-color: $colorpur;
	background-image: url("/img/check.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.opencheckboxlist__value:disabled+label::before {
	background-color: $color25;
}
.benefits {
	max-width: 291px;
	margin-top: 40px;

	&__container {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
	}

	&__image-container {
		background:linear-gradient(180deg, $colorpur 0%, #8BA4F9 100%);
		-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #8BA4F9;
		margin-right: 10px;
	}

	&__image{
		font-size: 48px;
		line-height: 85%;
	}

	&__text {
		// flex-wrap: wrap;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	&__heading {
		font-weight: 700;
		color: $color75;
		line-height: 140%;
	}

	&__description {
		
	}
}
