@charset "UTF-8";
.containerforall {
  margin-left: 140px;
}

.logo-small {
  width: 48px;
  height: 48px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 67px;
}

.content {
  max-width: 1132px;
  font-size: 19px;
  color: #1F2041;
  margin-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/******* Text Field *********/
.textfield {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.textfield__label-wrapper {
  font-size: 12px;
  font-weight: 700;
  line-height: 116%;
  color: #1F2041;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.textfield__label-state {
  color: #8F90A0;
}
.textfield__input {
  width: 320px;
  line-height: 171%;
  border-radius: 4px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 20px;
}
.textfield__input-default {
  color: #C7C7CF;
  border: #C7C7CF 1px solid;
}
.textfield__input-hover {
  color: #8F90A0;
  border: #8F90A0 1px solid;
}

/************ dropdown **************/
.dropdown, .dropdowndate {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dropdown__label, .dropdowndate__label {
  font-size: 12px;
  font-weight: 700;
  line-height: 116%;
  color: #1F2041;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.dropdown__wrapper, .dropdowndate__wrapper {
  width: 320px;
  color: #1F2041;
  border: #C7C7CF 1px solid;
  border-radius: 4px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown__placeholder, .dropdowndate__placeholder {
  color: #575871;
  line-height: 171%;
}
.dropdown__item-visually-hidden, .dropdowndate__item-visually-hidden {
  display: none;
}

.dropdowndate {
  width: 266px;
}
.dropdowndate__wrapper {
  width: 266px;
}

.dropdown__arrow {
  font-size: 12px;
  color: #8F90A0;
  padding-right: 16px;
}

/*************** date input**********/
.dropdown__wrap {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.textfield__date-up {
  text-transform: uppercase;
}

.dropdown__date-small {
  width: 150px;
}
.dropdown__date-input {
  width: 150px;
  color: #575871;
  border-color: #C7C7CF;
}

.arrow-forward {
  font-size: 20px;
  position: relative;
  bottom: 56px;
  left: 280px;
}

._icon-arrow_forward {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8BA4F9;
}

.dropdown__label-wrapper {
  font-size: 12px;
  font-weight: 700;
  line-height: 116%;
  color: #1F2041;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.dropdown__label-state {
  color: #8F90A0;
}

/*********** dropdown full form ************/
.dropdown__wrapper-full {
  min-width: 266px;
  border: 1px solid #8F90A0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 20px 0px #1F20410D;
          box-shadow: 0px 10px 20px 0px #1F20410D;
}
.dropdown__placeholder-full {
  min-height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #8F90A0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown__arrow-full {
  color: #575871;
  font-size: 12px;
}
.dropdown__fullform {
  padding: 13px 7px 0 15px;
}

.fullform__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 122%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7px;
}

.counter {
  width: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.counter__circle {
  width: 30px;
  height: 30px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 22px;
  border: 1px solid #C7C7CF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.counter__less-unable {
  border-color: rgba(31, 32, 65, 0.1);
  color: rgba(31, 32, 65, 0.1);
}

.checkboxlist {
  max-width: 266px;
  margin-top: 40px;
  margin-bottom: 20px;
}
.checkboxlist__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.checkboxlist__label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1F2041;
}
.checkboxlist__arrow {
  color: #8F90A0;
  font-size: 12px;
}

.opencheckboxlist {
  max-width: 266px;
}
.opencheckboxlist__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
.opencheckboxlist__label {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  color: #1F2041;
}
.opencheckboxlist__arrow-up {
  color: #8F90A0;
  font-size: 12px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.opencheckboxlist__expanded {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #8F90A0;
  margin-bottom: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.opencheckboxlist__value {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.opencheckboxlist__value + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  margin-bottom: 10px;
}

.opencheckboxlist__value + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #C7C7CF;
  border-radius: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
  z-index: 222222;
}

/* стили при наведении курсора на checkbox */
.opencheckboxlist__value:not(:disabled):not(:checked) + label:hover::before {
  border-color: #BC9CFF;
}

/* стили для активного чекбокса (при нажатии на него) */
.opencheckboxlist__value:not(:disabled):active + label::before {
  border-color: #BC9CFF;
}

/* стили для чекбокса, находящегося в фокусе */
.opencheckboxlist__value:focus + label::before {
  border-color: #BC9CFF;
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.opencheckboxlist__value:focus:not(:checked) + label::before {
  border-color: #BC9CFF;
}

/* стили для чекбокса, находящегося в состоянии checked */
.opencheckboxlist__value:checked + label::before {
  border-color: #BC9CFF;
  background-image: url("/img/check.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.opencheckboxlist__value:disabled + label::before {
  background-color: #C7C7CF;
}

.benefits {
  max-width: 291px;
}
.benefits__container {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.benefits__image-container {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8BA4F9;
  margin-right: 10px;
}
.benefits__image {
  font-size: 48px;
  line-height: 85%;
}
.benefits__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  line-height: 170%;
}
.benefits__heading {
  font-weight: 700;
}
.benefits__line {
  width: 280px;
  display: block;
  height: 1px;
  border-top: 1px solid rgba(31, 32, 65, 0.1);
  margin-top: 17px;
}