.containerforall {
  margin-left: 140px;
}

.logo-small {
  width: 48px;
  height: 48px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 67px;
}

.content {
  max-width: 1132px;
  font-size: 19px;
  color: #1F2041;
  margin-left: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

/******* Text Field *********/
.textfield {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.textfield__label-wrapper {
  font-size: 12px;
  font-weight: 700;
  line-height: 116%;
  color: #1F2041;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.textfield__label-state {
  color: #8F90A0;
}
.textfield__input {
  width: 320px;
  line-height: 171%;
  border-radius: 4px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 20px;
}
.textfield__input-default {
  color: #C7C7CF;
  border: #C7C7CF 1px solid;
}
.textfield__input-hover {
  color: #8F90A0;
  border: #8F90A0 1px solid;
}

/************ dropdown **************/
.dropdown, .dropdowndate {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.dropdown__label, .dropdowndate__label {
  font-size: 12px;
  font-weight: 700;
  line-height: 116%;
  color: #1F2041;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.dropdown__wrapper, .dropdowndate__wrapper {
  width: 320px;
  color: #1F2041;
  border: #C7C7CF 1px solid;
  border-radius: 4px;
  padding-left: 15px;
  padding-top: 13px;
  padding-bottom: 13px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown__placeholder, .dropdowndate__placeholder {
  color: #575871;
  line-height: 171%;
}
.dropdown__item-visually-hidden, .dropdowndate__item-visually-hidden {
  display: none;
}

.dropdowndate {
  width: 266px;
}
.dropdowndate__wrapper {
  width: 266px;
}

.dropdown__arrow {
  font-size: 12px;
  color: #8F90A0;
  padding-right: 16px;
}

/*************** date input**********/
.dropdown__wrap {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.textfield__date-up {
  text-transform: uppercase;
}

.dropdown__date-small {
  width: 150px;
}
.dropdown__date-input {
  width: 150px;
  color: #575871;
  border-color: #C7C7CF;
}

.arrow-forward {
  font-size: 20px;
  position: relative;
  bottom: 56px;
  left: 280px;
}

._icon-arrow_forward {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #8BA4F9;
}

.dropdown__label-wrapper {
  font-size: 12px;
  font-weight: 700;
  line-height: 116%;
  color: #1F2041;
  text-transform: uppercase;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.dropdown__label-state {
  color: #8F90A0;
}

/*********** dropdown full form ************/
.dropdown__wrapper-full {
  min-width: 266px;
  border: 1px solid #8F90A0;
  border-radius: 4px;
  -webkit-box-shadow: 0px 10px 20px 0px #1F20410D;
          box-shadow: 0px 10px 20px 0px #1F20410D;
}
.dropdown__placeholder-full {
  min-height: 44px;
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 1px solid #8F90A0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown__arrow-full {
  color: #575871;
  font-size: 14px;
}
.dropdown__fullform {
  padding: 13px 7px 0 15px;
}

.fullform__item {
  font-weight: 700;
  font-size: 12px;
  line-height: 122%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 7px;
}

.counter {
  width: 92px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.counter__circle {
  width: 30px;
  height: 30px;
  font-weight: 400;
  font-size: 18px;
  border-radius: 22px;
  border: 1px solid #C7C7CF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.counter__less-unable {
  border-color: rgba(31, 32, 65, 0.1);
  color: rgba(31, 32, 65, 0.1);
}